#
# Annex-UX R8.0 src/make.config Tue Jul  5 16:57:04 EST 1994
#

AR    = /usr/ccs/bin/ar
CC    = gcc
INSTALL    = /p/src/local/etc/annex/src/installer
RANLIB  = echo done with library

RM    = /bin/rm
SHELL    = /bin/sh

INSTALL_DIR = /var/spool/erpcd/support
CFLAGS    =  -DSVR4 -DSYS_V -DTLI -DTLIPOLL -DSUN -I../inc 
LIBFLAG    = -lsocket -lnsl
LIBANX_C = erpc_subr.c srpc.c api_if.c
LIBANX_O = erpc_subr.o srpc.o api_if.o
CH_PASSWD = ch_passwd
INSTALL_INITD = 
USER_BFS = -DBFS=\"/var/spool/erpcd/bfs\"
